.App {
  text-align: center;
}

h1 {
  size: 36;
  font-weight: 700;
}

h2 {
  size: 32;
  font-weight: 600;
}

h3 {
  size: 28;
  font-weight: 600;
}

h4 {
  size: 24;
  font-weight: 500;
}

h5 {
  size: 20;
  font-weight: 500;
}

h6 {
  size: 16;
  font-weight: 500;
}

p {
  size: 16;
  font-weight: 400;
}